<Page xmlns="http://www.nativescript.org/tns.xsd" loaded="pageLoaded" actionBarHidden="true" [backgroundColor]="confServ.app.template.pageBackground" [color]="confServ.app.template.pageText">

    <GridLayout rows="auto, *, auto" columns="auto, *, auto">
        <Label [text]="confServ.appc.manip.title" class="h3" row="0" col="0"></Label>
        <Label [text]="tServ.duree" class="h3" row="0" col="2"></Label>
        <Button text="&#xf029;" (tap)="onScan()" row="1" col="0" colSpan="3" class="btngros fagros fas"></Button>
        <Label text="Cliquez pour scanner votre première image" colSpan="3" class="h3" row="2" col="0"></Label>
    </GridLayout>
</Page>