<!-- <Page actionBarHidden="true" loaded="onPageLoaded"> -->
<ActionBar>
    <StackLayout><Label text="Sélectionnez l'atelier à attacher" class="entete up"></Label></StackLayout>
</ActionBar>
<GridLayout rows="*, *, 200" backgroundColor="orangered">
    <StackLayout row="1">
        <ListView [items]="ateliersServ.ateliers" (itemTap)="onItemTap($event)" class="list-group">
            <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">
                <!-- The item template can only have a single root view container (e.g. GridLayout, StackLayout, etc.)-->
                <StackLayout>
                    <Label [text]="item.title" class="list-group-item up"></Label>
                </StackLayout>
            </ng-template>
        </ListView>
    </StackLayout>
    <GridLayout columns="*, 200" backgroundColor="orangered" row="2">
        <StackLayout col="0" colSpan="3">
            <Label [text]="'Atelier choisi : ' + ateliersServ.atelier.title" class="h2 up"></Label>
            <Button text="&#xf058;" (tap)="onTap($event)" class="btn fapetit far"></Button>
        </StackLayout>
        <Button text="&#xf013;" col="1" (tap)="onTapSettings()" class="btn fapetit far"></Button>
    </GridLayout>
</GridLayout>
<!-- </Page> -->