<Page xmlns="http://www.nativescript.org/tns.xsd" loaded="pageLoaded" actionBarHidden="true" [backgroundColor]="ateliersServ.atelier.template.pageBackground"> -->
    <GridLayout rows="*, auto, auto, auto, *" >
        <Image [src]="ateliersServ.url+ateliersServ.atelier.template.logo" row="1" stretch="aspectFill"></Image>
        <Label [text]="ateliersServ.atelier.title" class="h1 up" row="2" (tap)="onTap()" [color]="ateliersServ.atelier.template.pageText"></Label>
        <Label [text]="tServ.duree" class="h2" row="3" [color]="ateliersServ.atelier.template.pageText"></Label>
    </GridLayout>
</Page>